<%= area_chart chart_data, points: false, label: label %>
<div>
        <%= active_link_to "USD", usd_one_day_path, method: "get", class: "btn btn-primary", id: "usd", active: ["us_dollars"] %>
</div>