<div id="chart">
        <%= area_chart chart_data, label: label %>
        <div>
                <%= active_link_to "USD", usd_one_day_path, method: "get", class: "btn btn-primary", id: "usd", active: ["us_dollars"] %>
                <%= active_link_to "EURO", usd_one_day_path, method: "get", class: "btn btn-primary", id: "euro", active: ["euros"] %>
        </div>
</div>