<div>
    <%= active_link_to "1 Day", "/#{@controller}/one_day", method: "get", class: "btn btn-primary", id: "#{@currency}-one-day" %>
    <%= active_link_to "1 Week", "/#{@controller}/one_week", method: "get", class: "btn btn-primary", id: "#{@currency}-one-week" %>
    <%= active_link_to "1 Month", "/#{@controller}/one_month", method: "get", class: "btn btn-primary", id: "#{@currency}-one-month" %>
    <%= active_link_to "3 Month", "/#{@controller}/three_month", method: "get", class: "btn btn-primary", id: "#{@currency}-three-month" %>
</div>