// Place all the styles related to the USDollars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#chart-1 {
    background-color: #adbed8;
    height: 500px;
    border-color: white;
    color: white;
}

.centered {
    width: 60%;
    height: 60%;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}